{% extends "groups/group_base.html" %}
{% load bootstrap3 %}
{% block pre_group %}
    <div class="col-4 group-list-intro">
        {% if user.is_authenticated %}
        <img class="rounded-circle" height="150px" width="150px" src="{{user.profile.profile_pic.url}}" alt="Oops!, image not found">
        <h2><a href="{% url 'posts:all_posts_user' username=user.username %}">@{{user.username}}</a> </h2>
        <h2>Create group here</h2>
        {% else %}
        <h1>Login to create a new group</h1>
        {% endif %}
    </div>

  
{% endblock pre_group %}


{% block group_content %}
    <div class="col-8">
        <div class="jumbotron">
            <div class="group-form">
                <h1>Fill this to create group</h1>
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type='submit' class="btn btn-primary" value="Create">
                </form>
            </div>
        
        </div>
    </div>
    
  
{% endblock group_content %}