{% extends "groups/group_base.html" %}

{% block pre_group %}
    <div class="col-4 group-list-intro">
        {% if user.is_authenticated %}
            <img class="rounded-circle" height="150px" width="150px" src="{{user.profile.profile_pic.url}}" alt="Oops!, image not found">
            <h2><a href="{% url 'posts:all_posts_user' username=user.username %}">@{{user.username}}</a> </h2>
            <h2>Groups page</h2>
            <a class="btn btn-primary" href="{% url 'groups:create_group' %}">Create New group</a>
            {% else %}
            <h1>Login to see all the groups present</h1>
        {% endif %}
    </div>
  
{% endblock pre_group %}

{% block group_content %}
    <div class="col-8 group-list">
        {% if user.is_authenticated %}
            {% for group in groups %}
                <div class="card">
                    <a class="card-header stretched-link" href="{% url 'groups:group_details' slug=group.slug %}">
                        <h3 class="">{{group.name}}</h3>
                    </a>
                    <div class="container-fluid">
                        <h6 class="card-title"> {{group.description_html|safe}}</h6>
                        <div class="row">
                            <div class="col-6">
                                <h5 align='center'> <span class="badge badge-secondary">{{group.members.count}}</span>
                                    member{{group.members.count|pluralize}} </h5>
                            </div>
                            <div class="col-6">
                                <h5 align='center'> <span class="badge badge-secondary">{{group.posts.count}}</span>
                                    post{{group.posts.count|pluralize}} </h5>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <br>
                
            {% endfor %}
        {% endif %}
    </div>
  
{% endblock group_content %}